@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

* {
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --black: #7a7a7a;
    --width-break: 600px;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.6;
    font-size: small;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Game of Thrones';
    font-size: small;
    color: var(--primary);
}

h2 {
    padding: 0;
    margin: 0;
    font-size: xx-large;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: large;
}

.background-image {
    background-image: url('/img/image.jpg');
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.content {
    background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(0,0,0,0.0); /*Black w/opacity/see-through*/
    color: white;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100vh;
    width: 90%;
    padding-top: 6vh;
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    background-color: rgba(0,0,0,0.4);
    color: var(--primary);
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    padding: 1rem;
    font-size: large;
    font-family: inherit;
    border-radius: 2rem ;
}

button {
    background-color: rgba(126, 0, 0, 0.6);
    color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: 'Courgette';
    font-family: 'Game of Thrones';
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color: rgba(126, 0, 0, 0.8);
    color: var(--primary);
}

#output {
    background-color: rgba(0,0,0,0.4);
    box-sizing: border-box;
    color: var(--primary);
    text-align: left;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    padding: 2rem;
    border: 1px solid var(--black);
    border-radius: 2rem ;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size:larger;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}