@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lora&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --red-shadow: 1px 1px 10px rgb(255, 0, 0), 1px 1px 10px rgb(255, 255, 255);
    --black: #7a7a7a;
    --width-break: 600px;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.6;
    font-size: medium;
}

body{
    margin: 0;
    padding: 0;
    color: var(--primary);
    font-family: 'Lora';
    font-size:large ;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: larger;
    text-shadow:2px 2px 10px rgb(255, 0, 0), 2px 2px 10px rgb(0, 0, 0);
}

.background-image {
    background-image: url('/img/image.jpg');
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100vh;
    width: 90%;
    padding-top: 6vh;
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    background-color: rgba(0,0,0,0.4);
    color: var(--primary);
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    padding: 1rem;
    font-family: 'Lora';
    font-size: large;
    border-radius: 2rem ;
}

button {
    background-color: rgba(126, 0, 0, 0.6);
    color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: 'Lora';
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color: rgba(126, 0, 0, 0.8);
    color: var(--primary);
}

#output {
    background-color: rgba(0,0,0,0.4);
    box-sizing: border-box;
    color: var(--primary);
    text-align: left;
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    padding: 2rem;
    border: 1px solid var(--black);
    border-radius: 2rem ;
    font-size:large;
    text-shadow: var(--red-shadow);
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    text-shadow: var(--red-shadow);
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}